<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyxy.dao.UserMapper" >
<select id="selectuserinfo"  resultType="User">
  select * from judge 
</select>
<insert id="insert">
insert into user (UserName, PassWord)
    values (#{username}, #{password})
</insert>
</mapper>